<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to your Dashboard, {{ username }}</h1>
        <h2>Your Passwords:</h2>
        <ul>
            {% for password in passwords %}
            <li>
                <strong>Website:</strong> {{ password[1] }}<br>
                <strong>Username/Email:</strong> {{ password[2] }}
                <div class="actions">
                    <a href="{{ url_for('view_password', password_id=password[0]) }}">View</a>
                    <a href="{{ url_for('delete_password', password_id=password[0]) }}">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="buttons">
            <a href="{{ url_for('add_password') }}" class="button">Add Password</a>
            <a href="{{ url_for('logout') }}" class="button">Logout</a>
        </div>
    </div>
</body>
</html>
